/3-Programación/Modulo_Pedidos/dist/
/INGSOFTWARE/dist/
/Falta incorporar/Frm_ListaOrdenCompra/build/
/Falta incorporar/Frm_ListaOrdenCompra/dist/
/Falta incorporar/Frm_ListaOrdenCompra/nbproject/private/